.css-at {color: #708;}
.css-unit {color: #281;}
.css-value {color: #708;}
.css-identifier {color: black;}
.css-selector {color: #11B;}
.css-important {color: #00F;}
.css-colorcode {color: #299;}
.css-comment {color: #A70;}
.css-string {color: #A22;}

.stex-unit { color: #281; }
.stex-identifier { color: black; }
.stex-slash { color: #FAA; }
.stex-command { color: #00F; }
.stex-comment { color: #A70; }
.stex-import { color: #00F; }
.stex-filepath { color: #852626; }
.stex-module { color: #852626; }
.stex-error { text-decoration: underline; color: red; }
.stex-string { color: #A22; }
